<p><H1>Food Hacks</H1></p>

  <div class="row center">
    <p><H2>How to Prepare, Peel, and Cut a Butternut Squash</H2></p>
    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/lsMJy7HpnEo" frameborder="0" allowfullscreen></iframe></p>
  </div>
  
  <div class="row center">
    <p><H2>How to quickly deseed a pomegranate<H2></p>
    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/5ScRDjrqIMc" frameborder="0" allowfullscreen></iframe></p>
  </div>
  
  <div class="row center">
    <p><H2>Mason Jar Lid Egg Tip<H2></p>
    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/5KZUDNMEdRg" frameborder="0" allowfullscreen></iframe></p>
  </div>
  
  <div class="row center">
    <p><H2>How to make Two Ingredient Cookies, but works awesome for a cake or muffins too</H2></p>
    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/aCNzeV87_f4" frameborder="0" allowfullscreen></iframe></p>
  </div>

